.court_header {
  background: #ffffff 0% 0% no-repeat padding-box;
  margin-top: 10px;
  margin-left: 10px;
  padding: 0.8rem;
  border-radius: 8px;
  width: 100%;
  div {
    .hr {
      border: 1px solid #d6dee4;
      width: 100%;
    }
  }
  .court_header_select {
    display: flex;
    border: 1px solid #d6dee4;
    margin-top: 10px;
    width: 220px;
    padding: 0.2rem;
    border-radius: 5px;
  }
  .court_site_items {
    display: flex;
    gap: 1rem;
    margin-top: 5px;
    .court_site_item {
      .court_site_content {
        background: #e3eef3 0% 0% no-repeat padding-box;
        width: 220px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        gap: 10px;
        padding: 0.3rem 0.2rem;
        margin: 10px 0;
        box-sizing: border-box;
        span {
          font-size: 11px;
          margin: 0;
          padding: 0;
        }
      }
    }
    .court_site_form {
      form {
        display: flex;
        gap: 1rem;
        select {
          margin-top: 11px;
          border: 1px solid #d6dee4;
          padding: 0.77rem 0.5rem;
          font-size: 12px;
          border-radius: 5px;
          width: 230px;
        }
        .court_site_btn {
          button {
            background: #fe844b 0% 0% no-repeat padding-box;
            padding: 0.77rem 0.5rem;
            font-size: 12px;
            border-radius: 5px;
            margin-top: 10px;
            color: white;
          }
        }
        .court_site_input {
          display: flex;
          position: relative;
          gap: 10px;
          div {
            label {
              position: absolute;
              top: -12px;
              background: #fff;
              padding: 0.1rem;
              font-size: 0.8rem;
              height: 20px;
              margin-left: 6px;
            }

            input {
              border: 1px solid #d6dee4;
              padding: 0.2rem 0.3rem;
              border-radius: 5px;
              width: 100px;
            }
          }
        }
      }
    }
  }
}
